.box {
  width: 100px;
  height: 100px;
  background: coral;
  transition: transform 1s ease-in-out;
  /* background 2s 1s linear; */
}

.box_action {
  transform: translateX(300px);
  background: blue;
}

.container {
  position: relative;
}

.hand {
  position: absolute;
  width: 200px;
  left: 400px;
  top: 140px;
}

.key {
  position: absolute;
  width: 150px;
  left: 50px;
  top: 100px;
  transition: 1s;
}
